table {
    /* border-collapse: separate; */
    border-spacing: 20px 0;
    width: 100%;
  }
  th {
    background-color: blue;
    color: white;
  }
  th,
  td {
  
    text-align: left;
    border: 1px solid black;
    padding: 5px;
    padding-left: 2%;
    align-items: center;
  }